@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comment-top">
	<h4>Yorumlar</h4>
	<div class="media">
		<img src="/CoreBlogTema/web/images/t1.jpg" alt="" class="img-fluid" />
		<div class="media-body">
			<h5 class="mt-0">Joseph Goh</h5>
			<p>
				df
			</p>

		</div>
	</div>
</div>
