@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1> Yazar Ajax İşlemleri</h1>
<br />
<div>
    <button type="button" id="btngetlist" class="btn btn-outline-primary">İsim Listesi</button>
    <div id="writerlist">
    </div>
</div>
<br />
<div>
    <div id="writerget">
    </div>
    <br />
    <div>
        <input type="text" id="writerid" placeholder="Buraya yazar ID değerini giriniz" class="form-control" />
        <br />
        <button type="button" id="btngetbyid" class="btn btn-outline-secondary">Yazar Listesi</button>
    </div>
</div>
<br />
<div id="AddWriter">
    <div>
        <input type="text" id="txtwriterid" placeholder="Yazar ID" class="form-control" />
        <br />
        <input type="text" id="txtwritername" placeholder="Yazar Adı" class="form-control" />
        <br />
        <button type="button" id="btnaddwriter" class="btn btn-outline-secondary">Yazar Ekle</button>
    </div>
</div>
<div>
    <div id="">
    </div>
    <br />
    <div>
        <input type="text" id="silwriterid" placeholder="Buraya silinecek yazar ID değerini giriniz" class="form-control" />
        <br />
        <button type="button" id="btndelbyid" class="btn btn-outline-secondary">Sil</button>
    </div>
</div>
<br />

<div>
    <input type="text" id="txtid1" class="form-control" placeholder="Güncellenecek ID" />
    <input type="text" id="txtiwritername1" class="form-control" placeholder="Güncellenecek Ad" />
    <br />
    <button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
</div>
@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered> <tr><th> Yazar ID </th> <th>Yazar Adı</th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterByID/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let getval = `<table class=table table-bordered> <tr><th> Yazar ID </th> <th>Yazar Adı</th> </tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                    $("#writerget").html(getval);
                }
            });

        });

        $("#btnaddwriter").click(function () {
            let writer =
            {
                Id: $("#txtwriterid").val(),
                Name: $("#txtwritername").val()
            };
            $.ajax(
                {
                    type: "post",
                    url: "/Admin/Writer/AddWriters/",
                    data: writer,
                    success: function (func) {
                        let result = jQuery.parseJSON(func);
                        alert("Yazar ekleme başarılı");

                    }

                });
        });

        $("#btndelbyid").click(x => {
            let id = $("#silwriterid").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriters/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {

                    alert("Yazar silme başarılı");
                }
            });

        });

        $("#btnupdatewriter").click(function () {
            let writer = {
                Id: $("#txtid1").val(),
                Name: $("txtiwritername1").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriters/",
                data: writer,
                success: function (func) {
                    alert("Güncelleme Yapıldı..");
                }
            });

        });

    </script>
}


